<!DOCTYPE html>
<html lang="en">
<head>
    <title>Susmii</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="first-div">
        <p>This is flask</p>
    </div>

    <div class="second-div">
        <h1>Second Div</h1>
    </div>

    <div class="third-div">
        <h1>Third Div</h1>
    </div>

    <div class="fourth-div">
        <h1>Four Div</h1>
    </div>

    <div class="fifth-div">
        <p>sample</p>
    </div>

    <div class="sixth-div">
        <p>sample</p>
    </div>

    <div class="parent">
        <div class="sub1">
            <h3>nandhu</h3>
        </div>
        <div class="sub2">
            <h3>nandhu</h3>
        </div>
        <div class="sub3">
            <h3>nandhu</h3>
        </div>
    </div>

   <div class="main-div">
        <div class="main-sub1">
            <h1>Susmii</h1>
        </div>
        <div class="main-sub2">
            <h1>Susmii</h1>
        </div>
   </div> 
   

</body>
</html>